@import "../jpgToPng/jpgToPng.scss";

.images-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.image-card {
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 10px;

  img {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #eee;
  }
}
